:root {
    --bg-color: #0f172a;
    --text-main: #f8fafc;
    --accent-blue: #38bdf8;
}

body {
    background-color: var(--bg-color);
    background-image: radial-gradient(circle at 50% 0%, #1e293b 0%, #0f172a 100%);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
    margin: 0;
    min-height: 100vh;
}